%flex-body {
    display: flex;
    flex-direction: column;
}

body {
    @extend %flex-body;
}

#about {
    @extend %flex-body;
    background-color: #F8FFE5;
}

#product {
    @extend %flex-body;
}

#contactos {
    @extend %flex-body;
}