body {
    display: flex;
    flex-direction: column;
}

#about {
    display: flex;
    flex-direction: column;
}

#product {
    display: flex;
    flex-direction: column;
}

#contactos {
    display: flex;
    flex-direction: column;
}