header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background-color: $mainColor;


    .logo {
        color: $mainTextColor;
        text-decoration: none;
        display: flex;
        font-weight: 800;
    }
}
