.navbar {
    grid-area: nav;
    padding: 40px 20px 20px;

    img {
        position: relative;
        text-align: center;
        width: 40px;
    }

    ul {
        list-style-type: none;

        li {
            font-weight: 600;
            margin: 7px;
            text-align: center;
        }
    }

    a {
        margin-top: 15px;
        text-decoration: none;
        color: $mainTextColor;
    }

    .mi-menu {
        flex-direction: column;
        text-align: center;
      }
}